*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: Helvetica, Arial, sans-serif;
}

nav{
    background: blue;
    height: 80px;
    width: 100%;
}

label.logo{
    
}

/* Forside */


/* Om Os */


/* Plantevejledning */


/* Jordbær */

/* Mobile */
@media screen and (max-width: 320px){

}

/* Tablet */
@media screen and (max-width: 768px) and (min-width: 321px) {

}



/* Style af footer */

.container{
    display: flex;
    flex-direction: column;
    min-height: 100px;
    max-width: 1170px;
    background-color:#29573B
    margin: auto;

}

.row{
display: flex;
flex-wrap: wrap
}

ul{
    list-style: none;
}


.footer{
    background-color:#29573B;
    padding:70px 0 ;
}

.footer-col{
width: 25%;
padding: 0 15px;
}

.footer-col h4{
    font-size: 20px ;
    color: #FFFFFF ;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-family:Helvetica, Arial, sans-serif;
    font-weight: 500;
    position: relative;
} 
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #FFFFFF;
    padding-left: 10px;
    font-family: Helvetica, Arial, sans-serif;
}

/* Responsive */
@media(max-width: 768px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

