*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: Helvetica, Arial, sans-serif;
}

/* Styling af navbar */
nav{
    background: #FFFFFF;
    height: 20%;
    width: 100%;
    padding-bottom: 1%;
}

section.logo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding-bottom: 2%;
}

.logoContainer{
    display: flex;
    justify-content: center;
}
.logo img{
    width: 5%;
    display: flex;
    justify-content: center;
    
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    margin-left: 25%;
    margin-right: 25%;
    
}

nav ul li a{
 color: #8eb68b;  
 font-size: 0.9rem; 
}

ul.li.a.active,a:hover{
    text-decoration: underline;
    transition: .5s;
}

/* Forside */


/* Om Os */


/* Plantevejledning */


/* Jordbær */

/* Mobile */
@media screen and (max-width: 320px){

}

/* Tablet */
@media screen and (max-width: 768px) and (min-width: 321px) {

}

/* navbar */
@media screen and (max-width: 1400px) and (min-width: 769px)  {

}

/* Style af footer */
